<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <!-- BAGIAN INI DITAMBAHKAN AGAR SESUAI DENGAN MODUL -->
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    
    <coverage pathCoverage="true" includeUncoveredFiles="true">
        <report>
            <html outputDirectory="coverage-report"/>
        </report>
    </coverage>
    <!-- BATAS PENAMBAHAN -->

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value="pbl_testing"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="APP_KEY" value="base64:YlLZBl9bq9AUJ7BzmTpLWnrwSTIKuigZsvR4Hl1mkns="/>
    </php>
</phpunit>